body {

  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

  background: #f1f3f5;
}

.app {

  max-width: 1200px;

  margin: auto;

  padding: 40px 20px;
}

h1 {

  text-align: center;

  margin-bottom: 30px;
}
